.deal-page {
  padding: 2rem;
  padding-top: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.header-bar {
  background-color: #add8e6;
  padding: 0.5rem 2rem;
  margin: -2rem -2rem 1rem -2rem;
}

.header-bar h4 {
  color: #333;
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
  text-decoration: none;
}
